body {
  background-color: var(--uchu-yang);
  color: var(--uchu-yin);
  font-family: system-ui, sans-serif;
  font-size: 13px;
}
div.content {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
}
header {
  text-align: center;
  font-family: "courier new";
  line-height: 13px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--uchu-yin);
}
@keyframes hoverTitle {
  12% {
    color: var(--uchu-red);
  }
  25% {
    color: var(--uchu-pink);
  }
  38% {
    color: var(--uchu-purple);
  }
  50% {
    color: var(--uchu-blue);
  }
  62% {
    color: var(--uchu-green);
  }
  75% {
    color: var(--uchu-yellow);
  }
  88% {
    color: var(--uchu-orange);
  }
}
a:hover {
  animation-name: hoverTitle;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
main {
  margin-top: 4rem;
}
article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
h1 {
  font-size: 18px;
  margin: 0;
}
p.description {
  margin: -2px 0px;
  font-size: 10px;
  font-family: "courier new";
}
p.date {
  margin: 0;
  margin-left: 10px;
  align-self: center;
}
/*h1:hover {
  text-decoration: underline;
}*/

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--uchu-yin);
    color: var(--uchu-yang);
  }
  a {
    color: var(--uchu-yang);
  }
}
